<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
</head>
<body>
    <form th:action="@{/chat}"  th:object="${chatForm}" action="#" method="POST">
        <label for="username">Username:</label>
        <input th:field="*{username}" id="username" type="text">
        <label for="messageText">Message Text:</label>
        <input th:field="*{messageType}" id="messageText" type="text">
        <label for="messageType">Message Type: </label>
        <select th:field="*{messageType}" id="messageType">
            <option selected>Say</option>
            <option>Shout</option>
            <option>Whisper</option>
        </select>
        <input type="submit">
    </form>

<!--    // display information-->
    <div th:each="chatMessage: ${chatMessages}" th:text="${chatMessage}">
        <span th:text="${chatMessage.username}">Person 1</span> : <span th:text="${chatMessage.message}">Hello, World!</span>
    </div>


</body>
</html>